<!DOCTYPE html>
<html>
<head>
    <title>User Profile Edit</title>
</head>
<body>
    <h1>User Profile Edit</h1>
    <form method="POST" enctype="multipart/form-data" action="/edit_info">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ username }}"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <label for="phone">Phone Number:</label>
        <input type="text" id="phone" name="phone" value="{{ phone }}"><br><br>

        <label for="user_photo">User Photo:</label>
        <input type="file" id="user_photo" name="user_photo"><br><br>

        <input type="submit" value="Update">
    </form>
</body>
</html>
